extends layout

block body
	div(class="container")
		div(class="row")
			div(class="col-md-6 col-md-offset-3")
				div(class="list-group")
					a(href="#" class="list-group-item")
						h4(class="list-group-item-heading") List group item heading
					a(href="#" class="list-group-item")
						h4(class="list-group-item-heading") List group item heading
					a(href="#" class="list-group-item")
						h4(class="list-group-item-heading") List group item heading

				a(href="#" class="btn btn-primary btn-sm btn-block") Add
