extends layout

block body
	div(class="container")
		div(class="row")
			div(class="col-md-6 col-md-offset-3")
				div(class="list-group")
					each row in articles
						a(href="#" class="list-group-item" data-toggle="collapse" data-target=`#collapse_${row.id}` aria-expanded="false" aria-controls=`collapse_${row.id}`)= row.title

						div(class="collapse" id=`collapse_${row.id}`) 
							div(class="well")
								blockquote
									p
										h5= row.body
								
								button(class="btn btn-primary btn-sm")
									span(class="glyphicon glyphicon-edit edit-article" aria-hidden="true")
								button(class="btn btn-danger btn-sm pull-right")
									span(class="glyphicon glyphicon-trash delete-article" aria-hidden="true")

				a(href="#" class="btn btn-primary btn-sm btn-block") Add
